.auth-left {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 3rem;
}

.auth-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.auth-fluid {
  background-color: #f8f9fa;
}

.auth-fluid-form-box .card-body {
  padding: 0;
}

.btn-primary {
  background-color: #6b72dd;
  border: none;
}
.btn-primary:hover {
  background-color: #5b68e4;
}
.h2{
  color:gray
}
.link-lila {
  color: #5672d1; /* Lila oscuro */
  font-weight: bold;
  text-decoration: none;
}

.link-lila:hover {
  color: #574db6; /* Un poco más oscuro al pasar el mouse */
  text-decoration: underline;
}
